<div class="card shadow">

    <div class="card-header text-center fw-bold bg-myprimary fs-5">
        Détail
    </div>

    <div class="card-body">

        <div class="container">
            <!-- ------------------Unite Douaniere-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Unité Douanière
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Code unité </span>
                            <div class="text-input"> {{ uniteDouaniere.codeUniteDouaniere }} </div>
                        </div>


                        <div class="col-7 mx-auto">
                            <span class="fw-bold">Nom unité</span>
                            <div class="text-input text-uppercase"> {{ uniteDouaniere.nomUniteDouaniere }} </div>
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Type unité</span>
                            <div class="text-input text-uppercase"> {{
                                uniteDouaniere.codeTypeUniteDouaniere.libelleTypeUniteDouaniere }}
                            </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Effectif unité</span>
                            <div class="text-input text-uppercase"> {{ uniteDouaniere.effectifUniteDouaniere }}
                            </div>
                        </div>

                        <div class="col-3 mx-auto">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Nombre arme</span>
                            <div class="text-input text-uppercase"> {{ uniteDouaniere.nombreArme }} </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Nombre automobile</span>
                            <div class="text-input text-uppercase"> {{ uniteDouaniere.nombreAutomobile }} </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Nombre materiel</span>
                            <div class="text-input text-uppercase"> {{ uniteDouaniere.nombreMateriel }} </div>
                        </div>
                    </div>



                </form>
            </div>

        </div>


        <!-- -------------------------------------------------------------------------- -->
        <div class="container px-3 py-2">
            <div class="row">
                <div class="col-12 text-end">
                    <button  type="button" class="btn btn-mybrown fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour supprimer">
                        Supprimer
                    </button>

                    <button  type="button" class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                        Modifier
                    </button>

                    <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                        data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                        Retour
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
